/ejemplos-clase05/ejemplos/Ejemplo1/build/
/ejemplos-clase05/ejemplos/Ejemplo1/nbproject/private/
/ejemplos-clase05/ejemplos/Ejemplo2/build/
/ejemplos-clase05/ejemplos/Ejemplo2/nbproject/private/
/ejemplos-clase05/ejemplos/Ejemplo3/build/
/ejemplos-clase05/ejemplos/Ejemplo3/nbproject/private/
/ejemplos-clase05/ejemplos/Ejemplo4/build/
/ejemplos-clase05/ejemplos/Ejemplo4/nbproject/private/
/ejemplos-clase05/ejemplos/Ejemplo5/build/
/ejemplos-clase05/ejemplos/Ejemplo5/nbproject/private/
/ejemplo-condicionales-anidados/Condicionales/nbproject/private/
/ejemplo-condicionales-anidados/Condicionales/build/